/* *********************************************************************************************************************
***                                                    VARIABLES                                                     ***
********************************************************************************************************************* */


/* *********************************************************************************************************************
***                                                    INITIALIZE                                                    ***
********************************************************************************************************************* */
/*html, body, ul, ol, pre, li, h1, h2, h3, h4, h5, h6, a, i, p, nav, td, th, section {
    font-family: var(--text-font);
    font-size: var(--text-size);
    font-weight: normal;
    line-height: var(--std-line-height);
    color: black;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--title-font);
}

code {
    font-family: var(--code-font);
}

ul, ol {
    list-style: none;
}

a {
    text-decoration: none;
}*/